<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-info-circle me-2"></i>
        Setup Instructions
    </div>
    <div class="card-body">
        <div class="alert alert-info mb-3">
            <i class="fas fa-lightbulb me-2"></i>
            <strong>Before you start:</strong> Make sure MySQL server is running!
        </div>
        
        <h6 class="mb-3">Quick Setup Guide:</h6>
        <ol class="mb-3">
            <li class="mb-2">Start your MySQL server (XAMPP, WAMP, or standalone)</li>
            <li class="mb-2">Import the <code>bbpvp.sql</code> file to create the database</li>
            <li class="mb-2">Enter your MySQL connection details above</li>
            <li class="mb-2">Click "Test Connection" to verify</li>
            <li class="mb-2">Click "Save Configuration" to apply settings</li>
        </ol>
        
        <h6 class="mb-3">Default Settings:</h6>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <tr>
                    <th width="40%">Parameter</th>
                    <th>Default Value</th>
                </tr>
                <tr>
                    <td>Host</td>
                    <td><code>localhost</code></td>
                </tr>
                <tr>
                    <td>Port</td>
                    <td><code>3307</code> or <code>3306</code></td>
                </tr>
                <tr>
                    <td>Database</td>
                    <td><code>bbpvp_thesis</code></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><code>root</code></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>(empty)</td>
                </tr>
            </table>
        </div>
    </div>
</div>