<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-question-circle me-2"></i>
        Data Format Requirements
    </div>
    <div class="card-body">
        <h6 class="mb-3">Training Programs File:</h6>
        <ul class="small mb-3">
            <li>First Sheet</li>
            <li>Required columns:
                <ul>
                    <li>PROGRAM PELATIHAN</li>
                    <li>Tujuan/Kompetensi</li>
                    <!-- <li>Deskripsi Program</li> -->
                </ul>
            </li>
        </ul>
        
        <h6 class="mb-3">Job Positions File:</h6>
        <ul class="small mb-0">
            <li>First Sheet</li>
            <li>Required columns:
                <ul>
                    <li>Nama Jabatan</li>
                    <li>Deskripsi KBJI</li>
                    <li>Kompetensi</li>
                </ul>
            </li>
        </ul>
    </div>
</div>